body {
    background-color: black;
    background-image: url('pond.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: -1200px;
    background-attachment: fixed;
    z-index: -1;
}

.headerdiv {
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.text {
    color: white; 
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    z-index: 10;
}

.headertext {
    margin-top: 15%;
}

.header1 {
    font-size: 50px;
    
}

.header2 {
    font-size: 40px;
    
}

.info {
    font-size: 25px;
}

.header2 {
    font-size: 10px;
}


.icon-bar {
    position: fixed;
    z-index: 1000;
}
  
.icon-bar a {
    display: inline-block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}
  
.icon-bar a:hover {
    background-color: #000;
}

.footer {
    background-color: #1a1a1a50;
    color: #fff;
    position: fixed;
    font-size: 12px;
    padding-top: 5px;
    bottom: 0;
    margin-left: -10px;
    padding-right: 10px;
    width: 100%;
    height: 35px;
    text-align: center;
    z-index: 100;
}

@media screen and (max-width: 640px) {
    body {
        background-image: url('caveent2.png');
        background-position: center;
        background-repeat: no-repeat;
        background-position-y: 0px;
        background-attachment: fixed;
    }

    .headertext {
        margin-top: 25%;
        margin-right: 20px;
        margin-left: 20px;
    }

    .header1 {
        font-size: 25px;
        
    }
    
    .info {
        font-size: 15px;
    }
    
    .header2 {
        font-size: 8px;
    }

}

  